{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!{% endblock %}

{% block body %}
<nav>
      <div class="heading">
        <h4>GameNightZ</h4>
      </div>
      <ul class="nav-links">
        <li><a class="active-page" href="/">Home</a></li>
        <li><a href="/aboutuz">AboutUz</a></li>
        <li><a href="/eventz">Evenz</a></li>
        <li><a href="/locationz">Locationz</a></li>
        <li><a href="/faq">FAQ</a></li>
        {% if app.user %}
            {% if 'ROLE_USER' in app.user.getRoles() %}
                <li><a href="/user">UserZ</a></li>
                {% endif %}
            {% endif %}
        <li><a href="/login">LogIn</a></li>
      </ul>
    </nav>
    <div class="title-text">
      <h1>This is FAQZ!</h1>
    </div>
{% endblock %}
