{% extends 'base.html.twig' %}

{% block title %}Hello LocationZController!{% endblock %}

{% block body %}
    <nav>
      <div class="heading">
        <h4>GameNightZ</h4>
      </div>
      <ul class="nav-links">
        <li><a class="active-page" href="/">Home</a></li>
        <li><a href="/aboutuz">AboutUz</a></li>
        <li><a href="/eventz">Evenz</a></li>
        <li><a href="/locationz">Locationz</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/login">LogIn</a></li>
      </ul>
    </nav>
    <header>
      <img src="../Images/roomsetupZ.avif" alt="Bild der Location" class="banner">
    </header>
    <main>
      <section class="location-address">
        <div class="address">
          <h2>Adresse</h2>
          <p>123 Musterstraße, 12345 Musterstadt</p>
        </div>
        <div class="location-photo">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d419228.657497629!2d67.22420678906252!3d34.82546299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d2eba8f29d7431%3A0xde2dcbfa491c978b!2sGawhargen%20restaurant!5e0!3m2!1sde!2sde!4v1701354447702!5m2!1sde!2sde" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>
      <section class="directions">
        <h2>Anreise</h2>
        <p>Die Location ist gut erreichbar:</p>
        <ul>
          <li>Mit dem Auto: Hier können Sie die Anfahrt mit dem Auto beschreiben.</li>
          <li>Mit öffentlichen Verkehrsmitteln:
            <ul>
              <li>Bus: Informationen zur Busanreise</li>
              <li>Bahn: Informationen zur Bahnreise</li>
            </ul>
          </li>
        </ul>
      </section>
    </main>
{% endblock %}
